{
  "env": {
    "es6": true,
    "jest": true
  },
  "globals": {
    "by": false,
    "detox": false,
    "device": false,
    "element": false,
    "expect": false,
    "waitFor": false
  },
  "overrides": [
    {
      "files": ["e2e-maestro/scripts/**/*.js"],
      "globals": {
        "maestro": false,
        "output": false
      }
    }
  ]
}
